---
import Layout from '../layouts/Layout.astro';
import PokemonCard from '../components/PokemonCard.astro';
import { fetchPokemons, getPokemons,  type PokemonSmall } from '../models/PokemonModels';

fetchPokemons();
const pokemons: PokemonSmall[] | undefined = await getPokemons();
---

<Layout title="Pokedex">
	<main class="m-auto">
    <section 
    class="grid grid-cols-2 gap-7 p-2 my-32
    md:grid-cols-4">
        {
            pokemons?.map((pokemon : PokemonSmall) => (
                    <PokemonCard {pokemon}/>
        ))
        }
    </section>
	</main>
</Layout>

