---
import PokemonGrid from '../../components/PokemonGrid.astro';
import { getPokemonsByIdOrName } from '../../lib/controllers/pokemonController';
import type { PokemonSmall } from '../../lib/models/pokemonModels';


let pokemons: PokemonSmall[] | undefined = [];
let errorMessage: string | null = null;
const randomNumber = Math.floor(Math.random() * 1025) + 1;
const pokemon = await getPokemonsByIdOrName(randomNumber.toString());

!pokemon ? errorMessage = "No se encontró el Pokémon." : pokemons.push(pokemon.basicData);



---

{errorMessage ? (
  <div class="error-message p-6 rounded-lg text-center text-red-500 w-screen">
    <p class="text-2xl bg-white w-50% text-center p-4 border-2 border-red-500">{errorMessage}</pc>
  </div>
) : (
  <PokemonGrid pokemons={pokemons} />
)}

