<header class="fixed top-0 z-10
flex items-center py-9 w-full">
    <img src="/favicon.svg" alt="Una pokeball"
    class="size-12 ml-4">
    <h1 class="absolute inset-0 mt-9 text-center text-5xl font-extrabold tracking-widest"> Pokédex </h1>
</header>
