---
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" 
		content="Pokedex de todos los pokemons hasta el momento" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="font-customFont">
		<div class="absolute inset-0 -z-10 
		bg-striped opacity-10 
		min-h-screen w-full"></div>

		<Header/>
		<slot />

	</body>

</html>

<style is:global>
	body {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@font-face {
      font-family: "Tilt Neon";
      src: url("/public/fonts/tilt-neon-latin-400-normal.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
    }
</style>
